* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(-45deg, rgb(19, 58, 73), rgb(68, 192, 245));
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1px auto 1px;
}

.header,
.main,
.footer {
  padding: 0 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {

  display: grid;
  grid-template-columns: 340px;
  grid-template-rows: 480px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(176 254 255), #0fc4e5);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
  grid-row-start: 1;
  grid-column-start: 1;
}

.front {
  background: url("https://images.pexels.com/photos/769525/pexels-photo-769525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
  transform: perspective(600px) rotateY(0);
  cursor: pointer;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: #333;

}

.content h1 {
  padding: 0;
  margin: 0 0 10px;
}

.content h3 {
  font-weight: normal;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.socials a {
  color: #333;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  transition: all 0.3s;
}

.socials a:hover {
  background: #333;
  color: #fff;
}